# Byte-compiled files
__pycache__/
*.py[cod]

# Distribution / packaging
.Python
env/
venv/
ENV/
env.bak/
venv.bak/
*.egg-info/
*.egg

# Logs
*.log

# Unit test / coverage reports
.coverage
*.cover
*.py,cover
nosetests.xml
coverage.xml
*.cover
*.log

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# Ignore .pkl and .png files
*.pkl
*.png

# Ignore hydra output
mnist/outputs/

#data
mnist/data/
