*.venv
classification/data
classification/results
__pycache__
*.pyc
.DS_Store
regression/data_generation/federated_datasets_combined_hetero
regression/data_generation/federated_datasets_constant_snr
regression/data_generation/federated_datasets_feature_variance
regression/data_generation/federated_datasets_param_variance
regression/data_generation/parameter_heterogeneity
regression/data_generation/target_heterogeneity
regression/experiment/backup_code
regression/experiment/HETERO_FINAL
regression/experiment/plotting_code
regression/experiment/RESULTS
regression/experiment/heterogeneity_study_no_dominant
regression/experiment/tapering_study_no_dominant